{% set grid_class = grid_class is defined ? grid_class : 'grid grid-cols-3 gap-4' %}

<fieldset class="fieldset {{ grid_class }} bg-base-200 border-base-300 p-4 border rounded w-250">
    <legend class="fieldset-legend flex items-center gap-2">
        {% include 'icons/income.html.twig' %}
        {{ title }}
    </legend>

    {% for field_name in fields %}
        {% if detail_form[field_name] is defined %}
            <div>
                {{ form_label(detail_form[field_name]) }}
                {{ form_widget(detail_form[field_name]) }}
                {{ form_errors(detail_form[field_name]) }}
            </div>
        {% endif %}
    {% endfor %}
</fieldset>
